In [2]:
import pandas as pd

data = pd.read_csv('BPD_Arrests.csv', sep=',', encoding='utf-8')
data.head(10)

,Arrest,Age,Sex,Race,ArrestDate,ArrestTime,ArrestLocation,IncidentOffense,IncidentLocation,Charge,ChargeDescription,District,Post,Neighborhood,Location 1
0,16160529.0,54.0,M,B,11/12/2016,22:35,3500 PELHAM AVE,4ECOMMON ASSAULT,3500 PELHAM AVE,1 1415,COMMON ASSAULT,Northeastern,432.0,Belair-Edison,"(39.3208685519, -76.5652449141)"
1,16160490.0,22.0,M,B,11/12/2016,21:49,300 S LOUDON AVE,Unknown Offense,300 S LOUDON AVE,4 3550,POSSESSION,Southwestern,833.0,Irvington,"(39.2811486601, -76.6821278085)"
2,16160487.0,31.0,M,B,11/12/2016,21:40,NaN,Unknown Offense,NaN,1 0077,FAILURE TO APPEAR,NaN,NaN,NaN,NaN
3,16160485.0,31.0,M,B,11/12/2016,20:30,NaN,Unknown Offense,NaN,1 0077,FAILURE TO APPEAR,NaN,NaN,NaN,NaN
4,16160481.0,33.0,M,B,11/12/2016,19:45,NaN,Unknown Offense,NaN,2 0480,MOTOR VEH/UNLAWFUL TAKING,NaN,NaN,NaN,NaN
5,16160461.0,39.0,F,W,11/12/2016,17:50,NaN,Unknown Offense,NaN,1 0077,FAILURE TO APPEAR,NaN,NaN,NaN,NaN
6,16160451.0,54.0,M,B,11/12/2016,16:30,NaN,Unknown Offense,NaN,1 0077,FAILURE TO APPEAR,NaN,NaN,NaN,NaN
7,16160447.0,39.0,M,W,11/12/2016,16:30,NaN,Unknown Offense,NaN,1 0077,FAILURE TO APPEAR,NaN,NaN,NaN,NaN
8,16160449.0,46.0,M,A,11/12/2016,15:37,1500 RUSSELL ST,Unknown Offense,1500 RUSSELL ST,2 2220,TRESPASSING,Southern,941.0,Carroll - Camden Industrial Area,"(39.2743782847, -76.6276296924)"
9,16160438.0,20.0,M,U,11/12/2016,15:30,500 N LAKEWOOD ST,4ECOMMON ASSAULT,500 N LAKEWOOD AVE,1 1415,COMMON ASSAULT,Southeastern,221.0,McElderry Park,"(39.2970007586, -76.5793864662)"

In [14]:
data = data.drop_duplicates()

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130348 entries, 0 to 130712
Data columns (total 15 columns):
Arrest               123683 non-null float64
Age                  130320 non-null float64
Sex                  130348 non-null object
Race                 130348 non-null object
ArrestDate           130348 non-null object
ArrestTime           130348 non-null object
ArrestLocation       78577 non-null object
IncidentOffense      130348 non-null object
IncidentLocation     76973 non-null object
Charge               114241 non-null object
ChargeDescription    129846 non-null object
District             78583 non-null object
Post                 78565 non-null float64
Neighborhood         78577 non-null object
Location 1           78648 non-null object
dtypes: float64(3), object(12)
memory usage: 15.9+ MB

In [16]:
# converting float age to integer 
data['Age'].fillna(0, inplace=True)
data['Age'] = data['Age'].apply(lambda x: int(x))

In [25]:
# locations where maximum incident happens
data.groupby(['IncidentLocation']).size().sort_values(ascending=False).head(10)

IncidentLocation
200 N Eutaw St        473
400 W Lexington St    240
300 N Eutaw St        235
400 E Baltimore St    221
1500 Russell St       221
1600 W North Av       200
400 W Saratoga St     197
600 Laurens St        175
600 Cherry Hill Rd    151
1200 W Pratt St       143
dtype: int64

In [23]:
# locations where maximum arrest happens
data.groupby(['ArrestLocation']).size().sort_values(ascending=False).head(10)

ArrestLocation
200 N EUTAW ST          447
1600 W NORTH AVE        344
1500 RUSSELL ST         305
400 E LEXINGTON ST      297
300 N EUTAW ST          237
400 E BALTIMORE ST      230
400 W SARATOGA ST       219
5100 REISTERSTOWN RD    211
600 LAURENS ST          200
1500 W NORTH AVE        199
dtype: int64

In [30]:
data['Age_seq'] = pd.cut(data['Age'], bins=20)
df = data.sort_values('Age', ascending=False)
# top 5 criminals age seq, their offence and sex
df[['Age_seq', 'Sex', 'IncidentOffense']].head(5)

          Age_seq Sex          IncidentOffense
71764   (95, 100]   M          Unknown Offense
95512   (95, 100]   M          Unknown Offense
117639   (85, 90]   M     111-Protective Order
102868   (85, 90]   F  87O-Narcotics (Outside)
91899    (85, 90]   M        4E-Common Assault

In [42]:
# males/ females criminals
data.groupby(['Sex']).size()

Sex
F     24876
M    105837
dtype: int64

In [48]:
# max age of male, offence
df = data[data['Sex'] == 'M']
df.sort_values(by='Age', ascending=False).head(1)[['Age', 'IncidentOffense']]

       Age  IncidentOffense
71764  100  Unknown Offense

In [49]:
# min age of male, offence
df.sort_values(by='Age', ascending=True).head(1)[['Age', 'IncidentOffense']]

        Age IncidentOffense
113591    0        79-Other

In [50]:
# max age of female , min age
df = data[data['Sex'] == 'F']
df.sort_values(by='Age', ascending=False).head(1)[['Age', 'IncidentOffense']]

        Age          IncidentOffense
102868   87  87O-Narcotics (Outside)

In [51]:
# min age of female, offence
df.sort_values(by='Age', ascending=True).head(1)[['Age', 'IncidentOffense']]

        Age   IncidentOffense
115034    0  55A-Prostitution

In [56]:
# most popular offenses in males
df = data[data['Sex'] == 'M']
df.groupby(['IncidentOffense']).size().sort_values(ascending=False).head(5)

IncidentOffense
Unknown Offense            66472
87-Narcotics               10673
4E-Common Assault           4900
UNKNOWN OFFENSE             2613
87O-Narcotics (Outside)     2271
dtype: int64

In [57]:
# most popular offenses in females
df = data[data['Sex'] == 'F']
df.groupby(['IncidentOffense']).size().sort_values(ascending=False).head(5)

IncidentOffense
Unknown Offense            15574
87-Narcotics                1621
4E-Common Assault           1404
55A-Prostitution             620
6C-Larceny- Shoplifting      614
dtype: int64

In [65]:
# race wise incidentoffense
data.groupby(['Race', 'IncidentOffense']).size()

Race  IncidentOffense
A     118-Burglary - Fourth Degree        1
      24-Towed Vehicle                    5
      26-Recovered Vehicle                1
      2F-Placing Hands                    1
      2J-Other Sex Offn.                  1
      3AJO-Robb Carjack-Other Wpn         1
      3B-Robb Highway (Ua)                1
      3D-Robb Comm. (Ua)                  1
      49-Family Disturbance               1
      4A-Agg. Asslt.- Gun                 2
      4B-Agg. Asslt.- Cut                 2
      4C-Agg. Asslt.- Oth.               10
      4D-Agg. Asslt.- Hand                2
      4E-Common Assault                  24
      4ECOMMON ASSAULT                    1
      4F-Assault By Threat                2
      55-Disorderly Person                1
      55A-Prostitution                    1
      5A-Burg. Res. (Force)               2
      61-Person Wanted On War             1
      67-Child Abuse-Physical             1
      6C-Larceny- Shoplifting             5
      6E-Larceny- Auto Acc                1
      6G-Larceny- From Bldg.              5
      6JLARCENY- OTHER                    2
      75-Destruct. Of Property            1
      75DESTRUCT. OF PROPERTY             1
      79-Other                            3
      7A-Stolen Auto                      1
      87-Narcotics                       21
                                      ...
W     79-Other                          278
      79OTHER                             5
      7A-Stolen Auto                     57
      7ASTOLEN AUTO                       4
      7C-Stolen Veh./Other                1
      80-Lost Property                    1
      81-Recovered Property               2
      83-Discharging Firearm              3
      85-Mental Case                      7
      85MENTAL CASE                       1
      87-Narcotics                     1698
      87NARCOTICS                         8
      87O-Narcotics (Outside)           396
      87ONARCOTICS (OUTSIDE)              1
      87V-Narcotics (Onview)              2
      88-Unfounded Call                  16
      88UNFOUNDED CALL                    1
      8AO-Arson Sin Res Str-Occ           1
      8BO-Arson Oth Res Str-Occ           1
      8EO-Arson Oth Comm Str-Occ          2
      8J-Arson Other                      3
      93-Abduction - Other                3
      94-Abduction By Parent              1
      95-Exparte                         10
      96-Stop & Frisk                     2
      96B-Investigative Stop              1
      97-Search & Seizure               254
      98-Child Neglect                    6
      UNKNOWN OFFENSE                   518
      Unknown Offense                 13175
dtype: int64

In [86]:
# race and sex wise incidentoffence
data.groupby(['Race', 'Sex', 'IncidentOffense']).size()

Race  Sex  IncidentOffense
A     F    24-Towed Vehicle                   1
           3AJO-Robb Carjack-Other Wpn        1
           4C-Agg. Asslt.- Oth.               2
           4E-Common Assault                  2
           4ECOMMON ASSAULT                   1
           4F-Assault By Threat               1
           55A-Prostitution                   1
           67-Child Abuse-Physical            1
           6C-Larceny- Shoplifting            1
           6G-Larceny- From Bldg.             1
           6JLARCENY- OTHER                   1
           79-Other                           1
           87-Narcotics                       2
           UNKNOWN OFFENSE                    4
           Unknown Offense                   61
      M    118-Burglary - Fourth Degree       1
           24-Towed Vehicle                   4
           26-Recovered Vehicle               1
           2F-Placing Hands                   1
           2J-Other Sex Offn.                 1
           3B-Robb Highway (Ua)               1
           3D-Robb Comm. (Ua)                 1
           49-Family Disturbance              1
           4A-Agg. Asslt.- Gun                2
           4B-Agg. Asslt.- Cut                2
           4C-Agg. Asslt.- Oth.               8
           4D-Agg. Asslt.- Hand               2
           4E-Common Assault                 22
           4F-Assault By Threat               1
           55-Disorderly Person               1
                                           ...
W     M    75-Destruct. Of Property          73
           75DESTRUCT. OF PROPERTY            4
           76-Child Abuse-Sexual              5
           76CHILD ABUSE-SEXUAL               1
           79-Other                         213
           79OTHER                            5
           7A-Stolen Auto                    50
           7ASTOLEN AUTO                      2
           7C-Stolen Veh./Other               1
           81-Recovered Property              1
           83-Discharging Firearm             3
           85-Mental Case                     4
           85MENTAL CASE                      1
           87-Narcotics                    1216
           87NARCOTICS                        4
           87O-Narcotics (Outside)          284
           87ONARCOTICS (OUTSIDE)             1
           87V-Narcotics (Onview)             2
           88-Unfounded Call                 12
           8AO-Arson Sin Res Str-Occ          1
           8EO-Arson Oth Comm Str-Occ         2
           8J-Arson Other                     3
           94-Abduction By Parent             1
           95-Exparte                         7
           96-Stop & Frisk                    2
           96B-Investigative Stop             1
           97-Search & Seizure              132
           98-Child Neglect                   3
           UNKNOWN OFFENSE                  339
           Unknown Offense                 8738
dtype: int64

In [87]:
import datetime as dt
# year wise arrest data
data['arrestyear'] = data['ArrestDate'].apply(lambda x: dt.datetime.strptime(x, '%m/%d/%Y').year)
data.groupby(['arrestyear']).size().sort_values(ascending=False)

arrestyear
2013    41929
2014    38875
2015    27173
2016    22371
dtype: int64

In [99]:
# month wise arrest data
data['arrestmonthyear'] = data['ArrestDate'].apply(lambda x: dt.datetime.strptime(x, '%m/%d/%Y').strftime('%m-%Y'))
data.groupby(['arrestyear', 'arrestmonthyear']).size()

arrestyear  arrestmonthyear
2013        01-2013            3740
            02-2013            3419
            03-2013            3668
            04-2013            3512
            05-2013            3578
            06-2013            3433
            07-2013            3511
            08-2013            3868
            09-2013            3614
            10-2013            3634
            11-2013            3003
            12-2013            2949
2014        01-2014            3366
            02-2014            3055
            03-2014            3537
            04-2014            3645
            05-2014            3744
            06-2014            3498
            07-2014            3741
            08-2014            3418
            09-2014            3381
            10-2014            2906
            11-2014            2489
            12-2014            2095
2015        01-2015            2551
            02-2015            2403
            03-2015            2582
            04-2015            2548
            05-2015            1468
            06-2015            2007
            07-2015            2399
            08-2015            2368
            09-2015            2204
            10-2015            2334
            11-2015            2237
            12-2015            2072
2016        01-2016            2229
            02-2016            2147
            03-2016            2494
            04-2016            2255
            05-2016            2147
            06-2016            2206
            07-2016            2121
            08-2016            2100
            09-2016            2077
            10-2016            1841
            11-2016             754
dtype: int64

In [65]:
# month year arrest data based on sex
data.groupby(['arrestyear', 'arrestmonthyear', 'Sex']).size()

arrestyear  arrestmonthyear  Sex
2013        01-2013          F       652
                             M      3088
            02-2013          F       624
                             M      2795
            03-2013          F       625
                             M      3043
            04-2013          F       653
                             M      2859
            05-2013          F       669
                             M      2909
            06-2013          F       680
                             M      2753
            07-2013          F       664
                             M      2847
            08-2013          F       769
                             M      3099
            09-2013          F       682
                             M      2932
            10-2013          F       696
                             M      2938
            11-2013          F       623
                             M      2380
            12-2013          F       555
                             M      2394
2014        01-2014          F       626
                             M      2740
            02-2014          F       541
                             M      2514
            03-2014          F       652
                             M      2885
                                    ...
2015        09-2015          F       382
                             M      1822
            10-2015          F       445
                             M      1889
            11-2015          F       431
                             M      1806
            12-2015          F       382
                             M      1690
2016        01-2016          F       420
                             M      1809
            02-2016          F       417
                             M      1730
            03-2016          F       450
                             M      2044
            04-2016          F       451
                             M      1804
            05-2016          F       412
                             M      1735
            06-2016          F       456
                             M      1750
            07-2016          F       390
                             M      1731
            08-2016          F       405
                             M      1695
            09-2016          F       428
                             M      1649
            10-2016          F       360
                             M      1481
            11-2016          F       157
                             M       597
dtype: int64