In [ ]:
import pandas as pd

def add_month_column(row):
    '''
    Function to convert integer month name to
    equivalent month name
    '''
    month_names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                   'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    return month_names[int(row['imonth']) % 12]

data = pd.read_csv('global-terror-data.csv', index_col=0)
data['month'] = data.apply(
    lambda x: add_month_column(x), axis=1)    

data.to_csv('global-terror-data.csv', index=True)

In [ ]:
def add_year_col(x):
    if x['iyear'] >= 1970 and x['iyear'] < 1980:
        return '1970-1979'
    elif x['iyear'] >= 1980 and x['iyear'] < 1990:
        return '1980-1989'
    elif x['iyear'] >= 1990 and x['iyear'] < 2000:
        return '1990-1999'
    elif x['iyear'] >= 2000 and x['iyear'] < 2010:
        return '2000-2009'
    elif x['iyear'] >= 2010 and x['iyear'] < 2016:
        return '2010-2015'

data = pd.read_csv('global-terror-data.csv', index_col=0)
col_labels = ['1970-1979', '1980-1989', '1990-1999', '2000-2009', '2010-2015']
data['year'] = data.apply(lambda x: add_year_col(x), axis=1)
data.to_csv('global-terror-data.csv', index=True)

In [ ]:
import pandas as pd

data = pd.read_csv('../globalterrorismdb_0616dist.csv')

df = data[['iyear', 'imonth', 'country_txt', 'region_txt', 'city', 'location', 'summary', 'success', 'suicide',
          'attacktype1_txt', 'targtype1_txt', 'motive', 'weaptype1_txt', 'weapdetail', 'gname']]

df.to_csv('global-terror-data.csv')

In [ ]:
import pandas as pd


data = pd.read_csv('global-terror-data.csv', index_col=0)
# data.fillna('NA')
# data.to_csv('global-terror-data.csv')
data = data[data['region_txt'] == 'Central America & Caribbean']
data = data[data['country_txt'] == 'Dominican Republic']
data.locatio

In [11]:
import pandas as pd

data = pd.read_csv('global-terror-data.csv', index_col=0)
data = data[(data.iyear >= 2000) & (data.iyear <= 2015)]
cols = ['iyear', 'month', 'region_txt', 'country_txt', 'city']
data.groupby(cols, as_index=False).sum()

,iyear,month,region_txt,country_txt,city,imonth,success,suicide
0,2000,Apr,Central America & Caribbean,Nicaragua,Boaco,3,1,0
1,2000,Apr,Central Asia,Azerbaijan,Stepanaket,3,0,0
2,2000,Apr,Eastern Europe,Bosnia-Herzegovina,Caparde,3,1,0
3,2000,Apr,Eastern Europe,Bosnia-Herzegovina,Kopaci,3,1,0
4,2000,Apr,Eastern Europe,Bosnia-Herzegovina,Prnjavor,3,1,0
5,2000,Apr,Eastern Europe,Kosovo,Mitrovica,3,1,0
6,2000,Apr,Eastern Europe,Russia,Grozny,3,1,0
7,2000,Apr,Eastern Europe,Russia,Makhachkala,3,1,0
8,2000,Apr,Eastern Europe,Russia,Yelizovo,3,1,0
9,2000,Apr,Eastern Europe,Russia,Zhani-Vedeno,3,1,0
10,2000,Apr,Eastern Europe,Yugoslavia,Veliki Trnovac,3,1,0
11,2000,Apr,Middle East & North Africa,Algeria,Abou El Hassen,3,1,0
12,2000,Apr,Middle East & North Africa,Algeria,Ain Bessam,3,1,0
13,2000,Apr,Middle East & North Africa,Algeria,Ammal,3,1,0
14,2000,Apr,Middle East & North Africa,Algeria,Bordj El Mahache,3,1,0
15,2000,Apr,Middle East & North Africa,Algeria,Bordj Menaiel,3,1,0
16,2000,Apr,Middle East & North Africa,Algeria,Boufarik,3,1,0
17,2000,Apr,Middle East & North Africa,Algeria,Dar Chioukh,3,1,0
18,2000,Apr,Middle East & North Africa,Algeria,Draa El Mizan,3,1,0
19,2000,Apr,Middle East & North Africa,Algeria,El Raja,3,1,0
20,2000,Apr,Middle East & North Africa,Algeria,Larbaa,3,1,0
21,2000,Apr,Middle East & North Africa,Algeria,Oued Djemaa,3,1,0
22,2000,Apr,Middle East & North Africa,Algeria,Ouled Brahim,3,1,0
23,2000,Apr,Middle East & North Africa,Algeria,Tazrouts,3,1,0
24,2000,Apr,Middle East & North Africa,Algeria,Tipasa,3,1,0
25,2000,Apr,Middle East & North Africa,Iran,Tehran,6,1,0
26,2000,Apr,Middle East & North Africa,Lebanon,Arnoun,3,1,0
27,2000,Apr,Middle East & North Africa,Lebanon,Ayn Qinya,3,1,0
28,2000,Apr,Middle East & North Africa,Lebanon,Beit Leef,3,1,0
29,2000,Apr,Middle East & North Africa,Turkey,Ankara,3,1,0
...,...,...,...,...,...,...,...,...
50795,2015,Sep,Sub-Saharan Africa,Somalia,Libaaxlow,8,1,0
50796,2015,Sep,Sub-Saharan Africa,Somalia,Mareerey,8,1,0
50797,2015,Sep,Sub-Saharan Africa,Somalia,Merca,16,2,0
50798,2015,Sep,Sub-Saharan Africa,Somalia,Mogadishu,40,5,1
50799,2015,Sep,Sub-Saharan Africa,Somalia,Moqokori,8,1,0
50800,2015,Sep,Sub-Saharan Africa,Somalia,Sabiid,8,1,0
50801,2015,Sep,Sub-Saharan Africa,Somalia,Tuulo Barwaqo,8,1,0
50802,2015,Sep,Sub-Saharan Africa,Somalia,Unknown,8,1,0
50803,2015,Sep,Sub-Saharan Africa,Somalia,Warxoolo,8,1,0
50804,2015,Sep,Sub-Saharan Africa,South Sudan,Juba,8,1,0
50805,2015,Sep,Sub-Saharan Africa,South Sudan,Malakal,16,0,0
50806,2015,Sep,Sub-Saharan Africa,South Sudan,Pageri,8,0,0
50807,2015,Sep,Sub-Saharan Africa,South Sudan,Unknown,16,2,0
50808,2015,Sep,Sub-Saharan Africa,South Sudan,Wau,8,0,0
50809,2015,Sep,Sub-Saharan Africa,South Sudan,Yambio,8,1,0
50810,2015,Sep,Western Europe,Denmark,Copenhagen,8,1,0
50811,2015,Sep,Western Europe,France,Arras,8,1,0
50812,2015,Sep,Western Europe,France,Auch,8,1,0
50813,2015,Sep,Western Europe,Germany,Berlin,8,0,0
50814,2015,Sep,Western Europe,Germany,Leipzig,8,1,0
50815,2015,Sep,Western Europe,Germany,Neustadt an der Walnaab,8,1,0
50816,2015,Sep,Western Europe,Germany,Salzhemmendorf,8,1,0
50817,2015,Sep,Western Europe,Ireland,Athy,8,0,0
50818,2015,Sep,Western Europe,Ireland,Dublin,8,0,0
50819,2015,Sep,Western Europe,Sweden,Varnamo,8,1,0
50820,2015,Sep,Western Europe,United Kingdom,Belfast,32,3,0
50821,2015,Sep,Western Europe,United Kingdom,Dervock,8,0,0
50822,2015,Sep,Western Europe,United Kingdom,Hollywood,8,1,0
50823,2015,Sep,Western Europe,United Kingdom,Londonderry,16,2,0
50824,2015,Sep,Western Europe,United Kingdom,Strabane,8,0,0